
.button_close_modal {
    text-align:center;
}

.contacts_github {
    background-image: url(/src/components/Contacts/icon/github.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    /* filter: invert(1); */
    border: none; 
}

.contacts_vk {
    background-image: url(/src/components/Contacts/icon/vk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    /* filter: invert(1); */
    border: none; 
}

.contacts_telegram {
    background-image: url(/src/components/Contacts/icon/telegram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    /* filter: invert(1); */
    border: none; 
}

.contacts_email {
    background-image: url(/src/components/Contacts/icon/email.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    /* filter: invert(1); */
    border: none; 
}

h4 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}