.button {
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.button:active {
    transform: scale(103%);
}

.button_view {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 20px;
}