.container {
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    /* filter: blur(1px); */
    border-radius: 20px;
    min-height: 320px;
    text-align: center;
    display: grid;
    gap: 20px;
    height: 200px;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    align-items:stretch;
    box-shadow:  
    0 0 5px rgb(114, 114, 123),
    0 0 10px rgb(114, 114, 123);  
}

.picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-left: 10px;   
}

.picture {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    width: 150px;
    height: 150px;
    
}

.name {
    margin-left: 10px;
}


.delete {
    background-image: url(icon/delete.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 15px;
    height: 15px;
    /* filter: invert(1); */
    border: none; 
    justify-content: end;
    align-items: end;
}

.card {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}