.main {
    overflow: scroll;
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    /* filter: blur(1px); */
    border-radius: 20px;
    min-height: 320px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    box-shadow:  
    0 0 5px rgb(114, 114, 123),
    0 0 10px rgb(114, 114, 123);    
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.avatar {
    margin-right: 2rem;
    width: 50px;
    height: 50px;
}

.picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn_favorites:active {
    transform: scale(120%);
}