.main {
    overflow: scroll;
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    /* filter: blur(1px); */
    border-radius: 20px;
    min-height: 320px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    box-shadow:  
    0 0 5px rgb(114, 114, 123),
    0 0 10px rgb(114, 114, 123);    
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    box-shadow:  
        0 0 5px rgb(114, 114, 123),
        0 0 10px rgb(114, 114, 123);  
    border-radius: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
    height: 350px;
    
}

.avatar {
    margin-right: 2rem;
    width: 50px;
    height: 50px;
}

.picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.normal__price {
    margin: 0;
    height: 28px;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
}

.btn_basket {
        width: 150px;
        height: 30px;
        margin: 7px;
        border-radius: 5px;
        padding: 0;
        appearance: none;
        outline:none;
        border: none;
        box-shadow:  
        0 0 5px rgb(114, 114, 123),
        0 0 10px rgb(114, 114, 123);  
}