.account_button {
    display: flex;
    align-content: center;
    align-items: center;
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    margin-bottom: 10px;
    border-radius: 20px;
    width: 90%;
    height: 65px;
    min-height: 65px;
    margin-top: 10px;
    justify-content: center;
    box-shadow:  
    0 0 5px rgb(114, 114, 123),
    0 0 10px rgb(114, 114, 123);  
    
}

.button {
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.button:active {
    transform: scale(103%);
}

.button_view {
    width: 100%;
    display: flex;
    justify-content: end;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
    width: 300px;
}

.button_exit {
    background-image: url(icon/exit.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    /* filter: invert(1); */
    border: none; 
}

.button_user {
    background-image: url(icon/user.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    /* filter: invert(1); */
    border: none; 
}

.button_basket {
    background-image: url(icon/basket.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    /* filter: invert(1); */
    border: none; 
}

.all_contacts {
    background-image: url(icon/contacts.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    /* filter: invert(1); */
    border: none; 
    z-index: 3;
}

/* media Adaptive */
@media (max-width: 749px) {
    .account_button {
        height: 120px;
    }
}
@media (max-width: 473px) {
    .account_button {
        height: 160px;
        min-width: 50px;
    }
}
