.ProductsButton {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 20px;
}

.button_ProductsButton{
        background-image: url(icon/products.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: rgb(255, 255, 255, 0);
        width: 35px;
        height: 35px;
        /* filter: invert(1); */
        border: none; 
}