
.all_contacts {
    background-image: url(icon/contacts.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    /* filter: invert(1); */
    border: none; 
    z-index: 3;
}

.all_button_close {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 20px;
}