
.contacts_view_module {
    /* background-color: brown; */
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    text-align:center;
}

.contacts_github {
    background-image: url(/src/components/Contacts/icon/github.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    filter: invert(1);
    border: none; 
}

.contacts_vk {
    background-image: url(/src/components/Contacts/icon/vk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    filter: invert(1);
    border: none; 
}

.contacts_telegram {
    background-image: url(/src/components/Contacts/icon/telegram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    filter: invert(1);
    border: none; 
}

.contacts_email {
    background-image: url(/src/components/Contacts/icon/email.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 50px;
    height: 50px;
    filter: invert(1);
    border: none; 
}

/* qr коды как идея для внедрения в модульное окно контактов */

/* .contacts_github_qr {
    background-image: url(/src/components/Contacts_view/Contacts_module/qr_code/qr_code_github.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 100px;
    height: 100px;
    filter: invert(1);
    border: none; 
} */

h4 {
    margin: 0;
}

a {
    color: aliceblue;
    text-decoration: none;
}