.promotion {
    overflow: scroll;
    background-color: rgb(75, 79, 193);
    margin-bottom: 10px;
    border-radius: 20px;
    width: 90%;
    height: 50%;
    margin-top: 10px;
    
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* media Adaptive */
@media (max-width: 749px) {
    .promotion {
        display: none;
    }
}